/* Base styles */
html, body {
    background: linear-gradient(to top, transparent, #ff0000e9);
    width: 100%;
    height: 100%;
    color: #7c7c7cde;
    font-family: "Helvetica-bold", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    overflow-x: hidden;  /* Prevent horizontal overflow */
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #3d293d; /* Retained background color */                                                  
    color: #878787; /* Retained text color */
    font-family: "Helvetica-bold", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

header {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
}

.section {
    padding: 2rem 2rem rem 2rem;
    font-size: 20px;
}

.section:hover {
    background-color: #f5f5f5dd;
    transition: color 2s ease-in-out, background-color 0.6s ease-in-out;
}
.graph-bg{
    padding: 50px;
    padding-right: 40px;
    padding-bottom: 40px;
    color: black;
}
.graph-bg:hover {
    color: #8a00a6;
    background-color: #0dd07c;
    transition: color 0.6s ease-in-out, background-color 0.6s ease-in-out;
    
}
h1 {
    font-size: 48px;
    font-family: futura-bold;
}

h2 {
    font-size: 36px;
    font-family: Helvetica-bold;
}
h4 {
    color: #fff;
}

button, input[type="submit"] {
    background-color: #d9edff;
    opacity: 0.5;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}

input[type="text"] {
    line-height: 1.8;
    width: 25%;
}

input[type="text"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

.nav-link {
    color: #ffffff;
    height: 100%;
    width: 100%;
    font-family: "Futura-bold";
    font-size: small;
    display: inline-block;
    padding: 0.5rem 1rem;
}

.nav-item {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 0.5rem 1rem;
}

.dropdown-item {
    color: #3d293d;
    font-family: "Futura-bold";
}

.dropdown-menu {
    background-color: #fffeff;
    color: #3d293d;
    animation: fadeIn 0.5s ease forwards;
    font-family: "Futura-bold";
}

.dropdown-menu a {
    color: #3d293d;
    font-family: "Futura-bold";
}

.dropdown-menu a:hover {
    background-color: #f5f5f5;
    color: #3d293d;
    font-family: "Futura-bold";
}

.navbar {
    background-color: #3d293d;
    color: #ffffff;
    font-family: "Futura-bold";
    color: #ffffff;
    height: 80px; /* Maintaining navbar height */
    z-index: 1000; /* Ensure the navbar is on top of other elements */
}

.navbar-brand {
    color: #ffffff;
    font-family: "Futura-bold";
}

.bg-dark {
    border-color: #3d293d;
    color: #cc2c2ce6;
}

.title {
    color: #3d293d;
    padding: 40px;
}

.sub-title{
    font-size: 20px;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

/* resizing / responsive website */



button, input[type="submit"] {
    background-color: #d9edff;
    opacity: 0.5;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}

input[type="text"] {
    line-height: 1.8;
    width: 25%;
}

input[type="text"]:hover {
    background-color: #f5f5f598;
    transition: color 2s eas

}


.column .container {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.columns .bg:hover {
    size: 100%;
    background-color: rgba(255, 255, 255, 0.882);
    transition: background-color 0.3s ease;
}

.bg {
    padding: 20px;
}

.content{
    font-size: 18px;
}


/* Responsive adjustments imgs and maps */

@media (min-width: 300px) {
  
    h1{
        font-size: 24px;
    }
    
    .maintitle{
        font-size: 35px;
    }

    .sub-title{
        font-size: 18px;
    }

    .content{
        font-size: 16px;
    }

    .html {
        max-width:370px;
    }
    
    .img {
        max-width:370px;
    }


    .section {
        padding: 2rem 2rem 2rem 2rem;
        font-size: 20px;
        }
}  

@media (min-width: 400px) {

    h1{
        font-size: 30px;
    }
    
       
    .maintitle{
        font-size: 35px;
    }

    .title{
        font-size: 30px;
    }

    .sub-title{
        font-size: 24px;
    }

    .content{
        font-size: 20px;
    }

    .html {
        max-width:540px;
    }
    
    .img {
        max-width:540px;
    }


    .section {
        padding: 2rem 2rem 2rem 2rem;
        font-size: 20px;
        }
}   

@media (min-width: 768px) {


    h1{
        font-size: 40px;
    }
   
    
    .title{
        font-size: 48px;
    }

        
    .maintitle{
        font-size: 45px;
    }
    

    .sub-title{
        font-size: 36px;
    }

    .content{
        font-size: 24px;
    }
    
    .html{
        max-width:720px;
    }

    .img {
        max-width:720px;
    }

    .section {
    padding: 2rem 2rem 2rem 2rem;
    font-size: 20px;
    }
}


@media (min-width: 992px) {

    .h1{
        font-size: 48px;
    }
    
    .title{
        font-size: 48px;
    }

       
    .maintitle{
        font-size: 53px;
    }

    .sub-title{
        font-size: 36px;
    }

    .content{
        font-size: 24px;
    }

    .html {
        max-width:960px;
    }

    .img {
        max-width:960px;
    }
 
    
    .section {
        padding: 2rem 2rem 2rem 2rem;
        font-size: 20px;
        }
}

@media (min-width: 1200px) {

    .maintitle{
        font-size: 53px;
    }

    .html {
        max-width:1140px;
    }

    .img {
        max-width:1140px;
    }

    
    .section {
        padding: 2rem 2rem 2rem 2rem;
        font-size: 20px;
        }

}

/* GRAPHS */

@media (min-width: 400px) {

      .graph-bg {
        overflow: hidden; /* Ensure content stays within the container */
        text-align: center; /* Center the graph within the container */
    }
    
    .graph {
        max-width: 540;
        display: inline-block; /* Ensure it is centered within the container */
        margin: 0 auto; /* Center the element horizontally */
        transition: transform 0.3s; /* Smooth transition for scaling */
        transform-origin: center; /* Ensure scaling from the center */
        padding-bottom: 100px;
        padding-top: 100px;
    }
    
}   

@media (min-width: 768px) {
  
    .graph-bg {
        overflow: hidden; /* Ensure content stays within the container */
        text-align: center; /* Center the graph within the container */
    }
    
    .graph {
        max-width: 960px;
        display: inline-block; /* Ensure it is centered within the container */
        margin: 0 auto; /* Center the element horizontally */
        transition: transform 0.3s; /* Smooth transition for scaling */
        transform-origin: center; /* Ensure scaling from the center */
        padding-bottom: 100px;
        padding-top: 100px;

        }
    

}

@media (min-width: 992px) {

    .graph-bg {
        overflow: hidden; /* Ensure content stays within the container */
        text-align: center; /* Center the graph within the container */
    }

    .graph {
        max-width: 992px;
        display: inline-block; /* Ensure it is centered within the container */
        margin: 0 auto; /* Center the element horizontally */
        transition: transform 0.3s; /* Smooth transition for scaling */
        transform-origin: center; /* Ensure scaling from the center */
        padding-bottom: 100px;
        padding-top: 100px;

        }
    

}

@media (min-width: 1200px) {

    .graph-bg {
        overflow: hidden; /* Ensure content stays within the container */
        text-align: center; /* Center the graph within the container */
    }

    .graph {
        max-width: 1200px;
        max-height: 1200px;
        display: inline-block; /* Ensure it is centered within the container */
        margin: 0 auto; /* Center the element horizontally */
        transition: transform 0.3s; /* Smooth transition for scaling */
        transform-origin: center; /* Ensure scaling from the center */
        padding-bottom: 100px;
        padding-top: 100px;

        }

}
